  <mat-form-field class="example-full-width" >
    <input  matInput placeholder="Search for Product" value="{{value}}" (keyup.enter)="searchProduct($event)" >
  </mat-form-field>
  <mat-radio-group >
    <mat-radio-button *ngFor="let option of storeList"
                      [checked]="option == activeStore"
                      [value]="option.location"
                      (change)="activeStore = $event ? option : activeStore">
      {{option.name}}
    </mat-radio-button>
  </mat-radio-group>
<app-result-list></app-result-list>
