  <mat-form-field class="example-full-width" >
    <input  matInput placeholder="Search for Product" value="{{value}}" (keyup.enter)="searchProduct($event.target.value)" >
  </mat-form-field>
  <button mat-button (click)="searchProduct(value)">Search</button>
  <mat-radio-group >
    <mat-radio-button *ngFor="let option of storeList"
                      [checked]="option == activeStore"
                      [value]="option.location"
                      (change)="activeStore = $event ? option : activeStore">
      {{option.name}}
    </mat-radio-button>
  </mat-radio-group>
  <div *ngIf="noResults">
    <p>Could not find any result!</p>
  </div>
<app-result-list [products]="products"></app-result-list>
