.productlist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.productclass {
  margin : 2em;
  width: 220px;
  max-height:400px;
  box-sizing: border-box;
}

.imagesection {
  margin-top:2em;
}

.productimage {
  width: 123px;
  height:150px;
}
