<div class="searchform" fxLayout="column">
  <div>
<mat-form-field>
  <div>
  <input matInput type="text" placeholder="search for product" value="{{value}}"
         (keyup.enter)="searchProduct($event.target.value)" />
  </div>
</mat-form-field>
<mat-radio-group [(ngModel)]="activeStore">
  <mat-radio-button *ngFor="let store of Stores" [value]="store"><span> {{ store.location }} </span></mat-radio-button>
</mat-radio-group>
<div>
  <button mat-raised-button (click)="searchProduct(value)">Search</button>
</div>
</div>
<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="0.5%">
<div *ngFor="let prod of products">
  <app-product-card [product]="prod"></app-product-card>
</div>
  <div *ngIf="noResults">No Product found.</div>
</div>
</div>
